body {
    background-color: #fff5e9;
}
h1{
    text-align: center; 
    color: #dff6ff;
}
h2 {
    color: #dff6ff;
}
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: rgb(rgb(77, 65, 146),);
}
ol li{
    font-size: 30px;
    color:blue
}
ul li{
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}
img{
    max-width: 25%;
    max-height: 25%;
}
.enviar{
    border-radius: 5px;
    background-color: #6ded74;
    color:#272625;
}
.etiqueta{
    background-color: aqua;
}
