:root{
  --aqua: #00ffff;
  --blueviolet: #8a2be2;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  background-color:var(--blueviolet);
  color:var(--aqua);
  margin: 0;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-left: 30%;
  height: 100vh;
}